<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648534607682-182bvbqfu9aqfq44o017ikgffr218i5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648534607682-182bvbqfu9aqfq44o017ikgffr218i5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCSkrSeQjcj_fX6F4MzxxYGGBxFQ_ZlEQg</string>
	<key>GCM_SENDER_ID</key>
	<string>648534607682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxcode.aiquiz.videoToQuiz</string>
	<key>PROJECT_ID</key>
	<string>quizzieai</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzieai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648534607682:ios:079fd35d6e7538c5106adb</string>
</dict>
</plist>